@import "mixin";
@import "preset-text";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800,400italic,700italic);

@include css-reset;
@include text;
@include links;
@include buttons;
@include inputs;

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-image: url(http://subtlepatterns.com/patterns/pw_maze_black.png);
	font-family: 'Open Sans', Arial, sans-serif;
}

nav {
	position: fixed;
	height: 100%;
	display: block;
	background-color: #141414;
	box-shadow: 3px 0px 4px rgba(0,0,0,0.4);
	ul {
		li {
			@include clearfix;
			.active_link {
				border-right: 3px red solid;
				background-color: #1a1a1a;
				&:hover {
					border-right: 3px red solid;
				}
			}
			a {
				border-right: 3px #141414 solid;
				padding: 5px 30px 5px 10px;
				display: block;
				color: #fff;
				font-size: 0.875em;
				@include clearfix;
				@include small {
					padding: 5px 10px 5px 10px;
				}
				&:hover {
					background-color: #1a1a1a;
					border-right: 3px #1a1a1a solid;
				}
				i {
					font-size: 2.5em;
					padding: 10px;
					color: #fff;
				}
				span {
					@include small {
						display: none;
					}
				}
			}
		}
	}
	.minimize {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #1a1a1a;
		border-top: 1px solid #111;
		display: block;
		@include small {
			display: none;
		}
		a {
			display: block;
			padding: 10px;
			color: #fff;
			@include clearfix;
			i {
				float: right;
			}
		}
	}
	.maximize {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #1a1a1a;
		border-top: 1px solid #111;
		display: none;
		@include small {
			display: none;
		}
		a {
			display: block;
			padding: 10px;
			color: #fff;
			@include clearfix;
			i {
				float: right;
			}
		}
	}
}

.container {
	width: 100%;
	padding: 10px;
	border-left: 170px solid transparent;
	@include clearfix;
	@include small {
			border-left: 60px solid transparent;
		}
	ul {
		width: 800px;
		margin: 0 auto;
		@include clearfix;
		@include large {
			width: 532px;
		}
		@include medium {
			width: 267px;
		}
		li {
			display: block;
			float: left;
			margin: 10px;
			width: 246px;
			height: 430px;
			a {
				position: relative;
				display: block;
				.thumb {
					position: absolute;
					top: 0;
					left: 0;
					background-color: #222;
					border: 3px solid #fff;
					box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
					@include clearfix;
					&:hover > .thumbnail {
						background-position: 0px 31px;
						transition: all .2s;
					}
					&:hover > .thumbnail > .title {
						opacity: 1;
					}
					.thumbnail {
						width: 240px;
						height: 420px;
						transition: all .2s;
						.title {
							background-color: #fff;
							background-image: url('../assets/pop-icon.jpg');
							background-position: 215px 30px;
							background-repeat: no-repeat;
							padding: 5px 0 8px 0;
							display: block;
							opacity: 0;
							@include small {
								opacity: 1;
							}
							@include clearfix;
							h5 {
								padding: 5px 0 0 10px;
								font-size: 0.875em;
								color: #141414;
								margin: 0;
							}
							span {
								font-size: 0.7em;
								padding: 5px 10px;
								display: block;
								color: #666;
							}
						}
					}
				}
			}
		}
	}
}