@import "mixin";
@import "preset-text";

@include css-reset;
@include text;
@include links;
@include buttons;


@keyframes sun {
    0%   {background-position: center 200px;}
    100% {background-position: center 0px;}
}

@keyframes sky {
    0%   {background-color: #0a2135;}
    25% {background-color: #a52348;}
    100% {background-color: #f06d06;}
}

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #000;
	font-family: 'Open Sans', Arial, sans-serif;
}
.sky {
	animation-name: sky;
    animation-duration: 8s;
	background-color: #f06d06;
	height: 200px;
	width: 100%;
}

.sun {
	animation-name: sun;
    animation-duration: 8s;
    animation-timing-function:ease;
	position: absolute;
    background-image: url(../img/the-lion/sun.png);
	background-repeat: no-repeat;
	background-position: center 0px;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
}

.tree {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/the-lion/background.png);
	background-repeat: repeat-x;
	background-position: top center;
	width: 100%;
	height: 210px;
}


.lion-container {
	position: relative;
	article {
		width: 700px;
		margin: 40px auto;
		.video {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			height: 0;
			box-shadow: 1px 1px 3px rgba(0,0,0,.5);
			width: 100%;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	.footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: #151515;
		padding: 0 10px;
		line-height: 50px;
		box-shadow: -1px 0px 5px rgba(0,0,0,.5);
		.center {
			text-align: center;
			@include clearfix;
			h6 {
				color: #fff;
				display: inline-block;
				padding: 0;
				margin: 0;
				a {
					color: #fff;
				}
			}
			p {
				line-height: 50px;
				color: #fff;
				display: inline-block;
				margin: 0 5px;
				padding: 0;
				a {
					color: #fff;
					padding: 0 5px;
				}
			}
		}
	}
}