@import "mixin";
@import "preset-text";

@include css-reset;
@include text;
@include links;
@include buttons;


@keyframes sun {
    0%   {background-position: center 200px;}
    100% {background-position: center 10px;}
}

@-webkit-keyframes sky {
    0%{background-position:51% 0%}
    100%{background-position:50% 70%}

}
@-moz-keyframes sky {
    0%{background-position:51% 0%}
    100%{background-position:50% 70%}

}
@keyframes sky { 
    0%{background-position:51% 0%}
    100%{background-position:50% 70%}

}

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #14110f;
	font-family: 'Open Sans', Arial, sans-serif;
}
.sky {
	-webkit-animation: sky 10s ease;
	-moz-animation: sky 10s ease;
	animation: sky 10s ease;
	background: linear-gradient(0deg, #ff9400, #8e0c22, #051129);
	background-position:50% 70%;
	background-size: 600% 600%;
	height: 202px;
	width: 100%;
}

.sun {
	animation-name: sun;
    animation-duration: 8s;
    animation-timing-function: ease;
	position: absolute;
    background-image: url(../img/the-lion/sun.png);
	background-repeat: no-repeat;
	background-position: center 10px;
	top: 0;
	left: 0;
	width: 100%;
	height: 202px;
}

.tree {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/the-lion/background.png);
	background-repeat: repeat-x;
	background-position: top center;
	width: 100%;
	height: 210px;
}


.lion-container {
	position: relative;
	margin-top: -40px;
	article {
		width: 900px;
		margin: 80px auto;
		background-color: #ddd;
		padding: 20px;
		@include frame-corners;
		.share {
			@include clearfix;
			padding: 0 0 10px 0;
			ul {
				float: left;
				li {
					float: left;
					padding: 0 5px;
					a {
						font-size: 1.5em;
						color: #aaa;
						&:hover {
							color: #8e0c22;
						}
					}
					span {
						line-height: 22px;
						font-size: 0.775em;
						color: #777;
					}
				}
			}
		}
		.content {
			margin: 20px 0 0 0;
			@include clearfix;
			.image {
				position: relative;
				@include clearfix;
				.image-hover {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					padding: 10px 5px;
					background-color: rgba(0,0,0,.5);
					opacity: 0;
					line-height: 206px;
					text-align: center;
					font-size: 3em;
					color: #fff;
					transition: opacity .5s;
					&:hover {
						cursor: pointer;
						opacity: 1;
					}
				}
				width: 160px;
				float: left;
				img {
					max-width: 100%;
					height: auto;
					display: block;
				}
			}
			.description {
				width: 700px;
				margin: 0;
				float: left;
				padding: 0 20px;
				color: #333;
			}
		}
		.video {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			height: 0;
			box-shadow: 1px 1px 3px rgba(0,0,0,.5);
			width: 100%;
			@include clearfix;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	.modal {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,.7);
		display: none;
		.modal-image {
			position: relative;
			height: 95%;
			padding: 10px;
			text-align: center;
			@include clearfix;
			img {
				display: block;
				margin: 0 auto;
				max-width: 100%;
				max-height: 100%;
			}
			.close {
				position: absolute;
				top: 20px;
				right: 20px;
				button {
					color: #fff;
					font-size: 1.5em;
					background-color: transparent;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
	.footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: #151515;
		padding: 0 10px;
		line-height: 50px;
		box-shadow: -1px 0px 5px rgba(0,0,0,.5);
		.center {
			text-align: center;
			@include clearfix;
			h6 {
				color: #fff;
				display: inline-block;
				padding: 0;
				margin: 0;
				a {
					color: #fff;
				}
			}
			p {
				line-height: 50px;
				color: #fff;
				display: inline-block;
				margin: 0 5px;
				padding: 0;
				a {
					color: #fff;
					padding: 0 5px;
				}
			}
		}
	}
}